/* Some designs will still be done up here */
/* Just wanna create this section so that it will be visible */

header .logo{
    display: inline-block;
    margin-left: 20px;
}
header a{
    color: inherit;
    text-decoration: none !important;
    

}
header .other-links{
    float: right;
    margin-right: 30px;
    line-height: 60px;
}
header .other-links>*{
    margin-left: 15px;
}
.container{
    margin-top: 20px;
}
.container section{
    height: 400px;
    background: #eee;
    margin-top: 10px;
    margin-bottom: 10px;

}
.row .newsletter{
    height: 400px;
    background: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}