@import "mixins";
@import "colors";

// Styling the header section
nav {
    width: 100%;
    min-height: 60px;
    display: flex;
    background: $white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top:0;
    z-index: 1000;
    
    .nav-content{
        width: 80%;
        height: 100%;
        background: transparent;
        position: relative;
        margin: auto;
        display: flex;

        .logo{
            display: inline-flex;
            width: 100px;
            line-height: 40px;
            flex: 2;
            

            h2{
                color: $black;
                font-weight: lighter;
                font-family: sans-serif;
                line-height: 70px;
                
            }
        }
        .s-n-p{
            
            justify-content: flex-end;
            padding: 20px;
            img{
                width: 30px;
                margin-left: 20px;
                border-radius: 50%;
                line-height: 70px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
.container{
    margin-top: 100px;
    padding: 20px;
    z-index: -10px;
    position: relative;
    // background: black !important;

    .left-sidebar{
        min-height: 500px;
        // background: red;
        
        img{
            border-radius: 100%;
        }
    }
    .others{
        position: absolute;
        bottom: 0;
    }
    .right-sidebar{
        min-height: 500px;
        // background: red;
        
        .card{
            padding: 20px;
            background: #F7F7F7;
           
            input{
                width:100%;
                border: none;
                border-bottom: 2px solid ;
                background: transparent;

                &:focus{
                    border: none !important;
                    border-bottom: 2px solid black;
                    box-shadow: none !important;
                    border-top: 2px solid #F7F7F7 !important;
                    
                }
            }
        }
    }
    .right-sidebar{
        .card-footer{
            background-color: transparent;
            .icons{
                display: inline-block;
                i{
                    margin-left: 10px;
                    line-height: 40px;
                }
            }
        }
        .story-content{
            img{
                border-radius: 50%;
            }
        }
    }
}
